.basket {
  height: 400px;
  background-image: url(img/headcat.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-size: cover;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}


.basketcontent__hightbig {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 130px;
  color: $color-text;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);

  &__form {
    height: 556px;
    width: 379px;
    border-radius: 20px;
    background: #F7F6F6;
    grid-column: span 4;
  }

  &__content {
    grid-column: span 8;

  }

  &__name-box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 14px;
    gap: 67px;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 0.5px solid #cacdd8;
    padding-top: 25px;
    padding-bottom: 32px;
  }

  &__left {
    display: flex;
    gap: 32px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 276px;
  }

  &__info-subtitle {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
  }

  &__info-desc {
    width: 276px;
    height: 50px;
    flex-shrink: 0;
    color: #888888;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__info-price {
    display: flex;
    width: 95px;
    height: 20.001px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__link-box {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__link {
    color: #000000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 210%;
    /* 29.4px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  &__number {
    width: 71px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #F7F6F6;
    background: #F7F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    font-family: inherit;
  }

  &__button {
    width: 200px;
    height: 37px;
    font-family: Montserrat;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 50px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    background-color: #FFF;
    ;
  }
}

.cart__form-subtitle {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 42px;
}

.cart__input {
  width: 288px;
  height: 143px;
  margin-left: 27px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__input-text {
  border: none;
  background: none;
  outline: none;
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: #F7F6F6;
  border-bottom: 1px solid #CACDD8;
}

::placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.cart__form-price {
  color: #000000;
  font-size: 24px;
  font-weight: 00;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 64px;
}

.cart__price {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 64px;
}

.cart__form-button {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.cart__order {
  width: 290px;
  height: 41px;
  background-color: transparent;
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 20px;
}